<div id="container">
<div class="row">
    <div class="col-3">
  
  
  
<div id="sidebar">
    
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h3>Technology</h3>
   <ul>
     <li class="nav">
       <a href="Java">Java</a>
    </li>
     <li class="nav">
       <a href="Php">Php</a>
      </li>
     <li class="nav">
       <a href="Angular">Angular</a>
      </li>
     <li class="nav">
       <a href="Javascript">Javascript</a>
      </li>
   </ul>
    
  
</div>
</div>
</div>