*{
    margin: px;
    padding: px;
    font-family: Arial, Helvetica, sans-serif;
}
#sidebar{
    position: fixed;
    width: 200px;
    height: 100px;
}
#sidebar ul li{
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid white;
    text-decoration: none;
    
}
#sidebar h3{
    margin-left: 30px;

}
.row{
    margin-left: 2px;
    width: 200px;
    height: 270px;
    

}
li a:hover{
    color:red;
}
